@use "./reset.scss";

body {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;

  #root {
    max-width: none;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .page {
    flex: 1;
  }
}

html {
  scroll-behavior: smooth;
}
