@use "./reset.scss";

body {
  font-family: "Homemade Apple", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  #root {
    max-width: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}
