.header {
  background-image: url("/src/assets/background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    max-width: 600px;
    height: auto;
    width: 100%;
  }
}
